@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Poppins", sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
    height: 65px;
    background-color: black;
}

.brand img{
    width: 44px;
}